
# ignore the venv directory 'bank'
bank/
# ignore the .vscode directory
.vscode/
# ignore the .idea directory
.idea/
# ignore the .env file
.env

# ignore the .log file
.log

# ignore the .db file
.db

# Output
output/

# Cache
cache/
db/
data/
*.txt
*.db
*.log
